.dialog {
  position: absolute;
  width: 100vw;
  height: 812px;
  z-index: 101;
  left: 0;
  top: 0;
  background-color: #00000077;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialogBox {
  width: 350px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
}
.dialogHeader {
  position: relative;
}
.dialogHeader .title {
  font-size: 24px;
  line-height: 80px;
}
.dialogHeader .cancel {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 40px;
  color: var(--color-all);
  line-height: 40px;
  text-align: center;
}
.dialogHeader .information {
  color: #999;
  margin-bottom: 30px;
}
.dialogContent textarea {
  border: 1px solid #777;
  border-radius: 5px;
  width: 100%;
  height: 370px;
  font-size: 16px;
  padding: 5px;
  outline: none;
}
.dialogContent textarea:focus {
  border: 1px solid var(--color-all);    
}
.dialogBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.dialogBtns .btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialogBtns span {
  border-radius: 10px;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
  width: 25vw;
  height: 35px;
}
.dialogBtns .btn:first-child span {
  color: var(--color-all);
  border: 1px solid var(--color-all);
}
.dialogBtns .btn:last-child span {
  color: #fff;
  background-color: var(--color-all);
}


/* 表格页码 */
.tableFooter {
  width: 70vw;
  height: 52px;
  position: absolute;
  left: 30vw;
  top: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableFooter .pageIndex {
  flex: 1;
  height: 52px;
  line-height: 52px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableFooter .pageIndex span {
  height: 52px;
  line-height: 52px;
  font-size: 14px;
  text-align: center;
}
.tableFooter .pageIndex:first-child,
.tableFooter .pageIndex:last-child {
  font-size: 30px;
}